[user]
	email = {{ .email | quote }}
	name = Ilkka Poutanen
{{- if eq .environment "home" }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIENiEdoqpHJmKzDuSdpzM3Uq1VKpcYZE/jgWslk3ajHT
{{- else }}
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOzWl92gN8WPQyz5rOvWmtV5u5faH/1VGmgy+SUhH4cn
{{- end }}

[credential]
	helper = store

[core]
	editor = nvim
	pager = "PAGER=less delta"
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore

[interactive]
  diffFilter = delta --color-only

[add.interactive]
  useBuiltin = false

[delta]
  navigate = true
  light = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[init]
	defaultBranch = main

[gpg]
  format = ssh

[gpg "ssh"]
{{- if eq .chezmoi.os "windows" }}
{{- if eq .environment "home" }}
  program = "C:/Users/{{ .username }}/AppData/Local/1Password/app/8/op-ssh-sign.exe"
{{- else }}
  program = "C:/Program Files/1Password/app/8/op-ssh-sign.exe"
{{- end }}
{{- end }}
{{- if eq .chezmoi.os "linux" }}
  program = {{ .chezmoi.homeDir }}/.local/bin/op-ssh-sign
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- end }}

[commit]
  gpgsign = true

[include]
  path = ~/.gitconfig.local

[credential "https://github.com"]
	helper = 
{{- if eq .chezmoi.os "windows" }}
	helper = !'C:\\Users\\{{ .username }}\\scoop\\apps\\gh\\current\\bin\\gh.exe' auth git-credential
{{- else }}
	helper = !/usr/bin/gh auth git-credential
{{- end }}

[credential "https://gist.github.com"]
	helper = 
{{- if eq .chezmoi.os "windows" }}
	helper = !'C:\\Users\\{{ .username }}\\scoop\\apps\\gh\\current\\bin\\gh.exe' auth git-credential
{{- else }}
	helper = !/usr/bin/gh auth git-credential
{{- end }}

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

{{- if eq .chezmoi.os "windows" }}
[alias]
  sync = !C:/Users/ilkka/scoop/apps/legit/current/legit.exe sync
  publish = !C:/Users/ilkka/scoop/apps/legit/current/legit.exe publish
  unpublish = !C:/Users/ilkka/scoop/apps/legit/current/legit.exe unpublish
  undo = !C:/Users/ilkka/scoop/apps/legit/current/legit.exe undo
  branches = !C:/Users/ilkka/scoop/apps/legit/current/legit.exe branches
{{- end }}
