{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
if ! command -v op &>/dev/null; then
  if command -v apt-get &>/dev/null; then
    if [[ ! -f /usr/share/keyrings/1password-archive-keyring.gpg ]]; then
      if ! command -v curl &>/dev/null; then
        echo "Installing curl"
        sudo apt-get update && sudo apt-get install -y curl
      fi
      if ! command -v gpg &>/dev/null; then
        echo "Installing gpg"
        sudo apt-get update && sudo apt-get install -y gpg
      fi
      echo "Getting 1password signing keys"
      curl -sS https://downloads.1password.com/linux/keys/1password.asc | \
        sudo gpg --dearmor --output /usr/share/keyrings/1password-archive-keyring.gpg
    fi
    if [[ ! -f /etc/apt/sources.list.d/1password.list ]]; then
      echo "Adding 1password apt repo"
      echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/$(dpkg --print-architecture) stable main" |
        sudo tee /etc/apt/sources.list.d/1password.list
      sudo apt-get update
      sudo apt-get install -y 1password 1password-cli
    fi
  else
    echo "Don't know how to install 1password without apt"
  fi
fi
{{ end -}}
