#!/bin/bash
{{ if eq .chezmoi.os "linux" -}}
if [[ ! (command -v curl &>/dev/null && command -v unzip &>/dev/null) ]]; then 
  if command -v apt &>/dev/null; then
    sudo apt install curl unzip
  elif command -v pacman &>/dev/null; then
    sudo pacman -S curl unzip
  else
    echo "Don't know how to install curl and unzip" >&2
    exit 1
  fi
fi
{{ end -}}
if ! command -v fnm &>/dev/null; then
  curl -fsSL https://fnm.vercel.app/install | bash
fi
