{{ if ne .chezmoi.os "windows" -}}
#!/bin/bash
if ! command -v git &>/dev/null; then
  echo "Git required to install asdf" >&2
  exit 1
fi
if ! command -v curl &>/dev/null; then
  echo "Curl required to install asdf" >&2
  exit 1
fi
ADSF_VERSION=0.13.1
git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v${ADSF_VERSION}
. "$HOME/.asdf/asdf.sh"
asdf plugin add bun https://github.com/cometkim/asdf-bun.git
asdf plugin add deno https://github.com/asdf-community/asdf-deno.git
asdf plugin add nodejs https://github.com/asdf-vm/asdf-nodejs.git
asdf plugin add erlang https://github.com/asdf-vm/asdf-erlang.git
{{ end }}
