{{ if ne .chezmoi.os "windows" -}}
#!/bin/bash
if ! command -v git &>/dev/null; then
  echo "Git required to install asdf" >&2
  exit 1
fi
if ! command -v curl &>/dev/null; then
  echo "Curl required to install asdf" >&2
  exit 1
fi
ADSF_VERSION=0.13.1
if [[ ! -d ~/.asdf ]]; then
  echo "Installing asdf"
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v${ADSF_VERSION}
fi
. "$HOME/.asdf/asdf.sh"
echo "Installing asdf plugins"
for plugin in bun deno nodejs erlang elixir; do
  asdf plugin add $plugin
done
{{ end }}
