alias vim=nvim

if [[ -x $(which exa) ]]; then
alias ls='exa --git'
alias ll='exa -l --git'
fi

alias mv="mv -i"
alias cp="cp -i"
alias rm="rm -i"
alias ln="ln -i"

if [[ -x $(which bat) ]]; then
alias cat='bat'
fi
