# vim: sw=8 sts=8 noet
[user]
	name = "Ilkka Laukkanen"
	# set email per machine in $GIT_AUTHOR_EMAIL or per repo

[color]
	ui = auto
	wtf = true

[color "branch"]
	current = green reverse
	local = green
	remote = yellow

[color "diff"]
	meta = yellow
	frag = magenta bold
	func = green bold
	old = red bold
	new = green bold
	commit = magenta
	whitespace = white bold reverse

[color "grep"]
	filename = magenta bold
	function = green bold
	linenumber = yellow
	match = green reverse
	separator = magenta

[color "status"]
	header = cyan
	added = green bold
	changed = magenta
	untracked = red bold
	branch = green reverse
	nobranch = red bold reverse

[push]
	default = tracking

[wtf]
	all = true
	long = true

[wtf "show"]
	relations = true

[core]
	pager = less -FRSX
	excludesfile = ~/.gitignore_global

[merge]
	summary = true

[mergetool "splice"]
	cmd = "gvim -f $BASE $LOCAL $REMOTE $MERGED --cmd 'let g:disable_fugitive=1' -c 'SpliceInit'"
	trustExitCode = true

[rerere]
	enabled = true
	autoupdate = true

[alias]
	#st = status --short --branch
	#up = fetch --all --prune
	#ci = commit -v
	#co = checkout
	#ff = merge --ff-only
	#nf = merge --no-ff
	#wc = whatchanged
	#au = add --update
	showconflict = !gitk --left-right HEAD...MERGE_HEAD
	prune-all = !git remote | xargs -n 1 git remote prune
	#ll = log --graph --decorate --pretty=format:'%C(magenta)%h%C(reset)%C(bold yellow)%d%C(reset) %s %C(green)%an %C(white)%cr%C(reset)' --abbrev-commit --date=relative
	#la = !git ll --all
	#edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u; }; vim `f`"
	#add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u; }; git add `f`"
	serve = daemon --reuseaddr --base-path=. --export-all --verbose
	#br = branch -avv
	current-branch = "!r=$(git symbolic-ref HEAD);echo ${r##refs/heads/}"
	out = "!b=$(git current-branch);git ll origin/$b..$b"
	in = "!b=$(git current-branch);git ll $b..origin/$b"
	splicediff = difftool -t splice
	splicemerge = mergetool -t splice
	oddiff = difftool -t opendiff
	odmerge = mergetool -t opendiff
