"*":
  "exception-reporting":
    userId: "de14e889-9df6-63ad-4dcb-0aa60cbb9d48"
  welcome:
    showOnStartup: false
  linter:
    ignoredLinterErrors: [
      "jscs"
    ]
  core: {}
  editor:
    invisibles: {}
    fontSize: 13
  "linter-tidy": {}
  "linter-jscs":
    harmony: true
    onlyConfig: true
  "linter-doiuse":
    doiuseExecutablePath: "/Users/ilau/.nvm/versions/node/v0.12.4/bin/doiuse"
  "language-babel":
    babelStage: 0
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "git-plus":
    splitPane: "down"
